body {
	color:#333;
	background: white;
	margin:0;
	/*font-weight: 300;*/
	font: 14px/1.6em Capital, futura-pt,Helvetica,Arial,sans-serif;
	/*font-family: "futura-pt", sans-serif, "Neue Haas Grotesk Display",'Work Sans', 'helvetica neue',sans-serif;*/
	/*'Work Sans', sans-serif, "Neue Haas Grotesk Display", 400*//*'Open Sans', sans-serif*/
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	/*letter-spacing: 1px;*/
}

a:hover,
a:focus,
a:active{
	color: #337ab7;
}
img{
	border:none;
}
.navbar-transparent{
	background: transparent;
	border: none;
}
/*.nav_banner{
	width:100%;
	height: 200px;
	background: #ddd;
	background-size: cover;
	background-position: center;
}*/

.txt-center{
	text-align: center;
}
.flex{
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}		
.flex--center{
	justify-content: center;
}
.flex--space-around{
	justify-content: space-around;
}
.flex--space-between{
	justify-content: space-between;
}
.logo{
	width: 33px;
	height: 33px;
	float: left;
	margin: -6px 8px 0 -6px;
}
.tags-container{
	margin-bottom: 22px;
	/*margin-top: 12px;*/
}
.tags-container>.tag {
	padding: 6px 20px;
	border-radius: 24px;
	border: 1px solid #ddd;
	margin: 12px 6px 0px 6px;
	background: white;
	color: #666;
	transition: all .25s;
}
.tags-container>.tag.active{
	background: #f2483b;
	border: 1px solid #e7463a;
	color: white;
}
.tags-container>.tag:hover{
	background: #f2483b;
	border: 1px solid #e7463a;
	color: white;
}
.self-intro{
	text-align: center;
	padding: 20px 4% 0 4%;
	margin-bottom: 6px;
	color: white;
	font-weight: 100;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background: none;
	color: white;
	border-bottom: 2px solid white;
	font-size: 13px;
	padding: 18px 0 6px 0;
	margin: 0 12px;
}
.navbar-default .navbar-nav>.active>a:hover{
	color: rgba(255,255,255,0.8);
	border-bottom: 2px solid white;
}
.navbar-default .navbar-brand{
	color: white;
	font-size: 16px;
	font-weight: 500;
	/*font-family: 'Roboto', serif;*/
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: rgba(255,255,255,0.8);
}

.navbar-default .navbar-nav>li>a{
	padding: 18px 0 6px 0;
	margin: 0 12px;
	color:rgba(255,255,255,0.65);
	/*font-family: 'Roboto', serif;*/
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
	color: rgba(255,255,255,0.8);
}
.navbar-default{
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 300ms;
	z-index: 10000;
}
.navbar-hide{
	transform: translateY(-50px);	
}
.navbar-custom{
	background: rgba(255, 255, 255, 0.95);
	border-radius: 0;
	border-bottom: 1px solid #ddd;
	color: #666;
}
.navbar-default.navbar-custom .navbar-nav>li>a{
	color: #454545;
}
.navbar-default.navbar-custom .navbar-nav>li>a:focus,
.navbar-default.navbar-custom .navbar-nav>.active>a,
.navbar-default.navbar-custom .navbar-nav>li>a:hover{
	color: #e7463a;
}
.navbar-default .navbar-toggle{
	border-color: rgba(255, 255, 255, 0.8);
}
.navbar-default .navbar-toggle .icon-bar{
	background: rgba(255, 255, 255, 0.8);
}
.navbar-default.navbar-custom .navbar-toggle{
	border-color: rgba(100, 100, 100, 0.8);

}
.navbar-default.navbar-custom .navbar-toggle .icon-bar{
	background: rgba(100, 100, 100, 0.8);
}
.container-my{
	padding-top: 14px;
	position:relative;
	padding-left: 0;
	padding-right: 0;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}


.to-top{
	width:44px;
	height: 44px;
	text-align: center;
	line-height: 40px;
	color: #666;
	border-radius: 22px;
	border:1px solid #ddd;
	background: #fff;
	box-shadow: 0 2px 5px #666;
	position: fixed;
	right: 30px;
	bottom: 10%;
	background-image: url(../imgs/to-top-icon.svg);
	background-size: cover;
}
.to-top:hover{
	background: #f5f5f5;
	background-image: url(../imgs/to-top-icon.svg);
}
.footer{
	text-align: center;
	/*border-top: 1px solid #666;*/
	padding:40px 0;
	color: #999;
}

.title-main{
	font-size: 1.75em;
	/*line-height: 250%;*/
	padding-bottom: .21em;
	margin-bottom: .6em;
	/*font-weight: bold;*/
	text-align: center;
	border-bottom: 2px solid #666;
	display: inline-block;
}


#video-banner{
	opacity: 1;
	transition: opacity 300;
}
#video-banner:hover{
	opacity: 0.9;
}
#play-btn-banner{
	transition: opacity 300;
	opacity: 1;
}
#play-btn-banner:hover{
	opacity: .8;
}
.video-container.video-pro{
	transition: opacity 300;
	opacity: 1;
	position: relative;
}
.video-container.video-pro:hover{
	opacity: .9;
}



.video-container{
	position: relative; 
}
.video-container>img{
	position: absolute;
	opacity: 1;
	top: calc(50% - 62px);
	left: calc(50% - 62px);
}
.play-btn{
	width: 90px;
}

.video-container>img:hover{
	opacity: 0.85;
}
.txt-video{
	padding: 0 4% 12px 4%;
	line-height: 120%;
	color: #666;
	font-size: 1.1em;
	text-align: justify;
	padding-bottom: 12px;
}
.scroll-arrow{
	width: 66px;
	animation: flash 1.6s infinite ease-in-out;
	display: block;
	margin: -20px 0;
}

.scroll-indicator{
	position: fixed;
	bottom: 28px;
	left: 28px;
	color: #FFF929;
	font-size: 1.1em;
	letter-spacing: 1px;
}

@keyframes flash{
	0% {opacity: 0.5;}
	30% {opacity: 1;}
	45% {opacity: 0.5;}
}


@media(max-width: 1200px) {
	.img-ai-intro{
		width: 310px;
		/*padding-top: 24px;*/
	}
}
@media(max-width: 988px) {
	.module>.content{
		width: 100%;
	}
	.ai-problem{
		width: 82%; 
		max-width: 100%; 
		padding-top: 0px;
	}
	.col-md-4-my{
		width: 50%;
		float: left;
	}

}
@media (min-width: 768px){
	.navbar-nav>li>a {
	    padding-top: 15px;
	    padding-bottom: 6px;
	}
}

@media (max-width: 889px) and (min-width: 580px){
	.container-my{
		width: 580px;
	}
}
@media (min-width: 890px) and (max-width: 1180px){
	.container-my{
		width: 870px;
	}
}
@media (min-width: 1181px){
	.container-my{
		width: 1160px;
	}
	.module>.content>.txt{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 767px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background-color: white;
	}
	.navbar-default .navbar-nav>li>a{
		color: #666;
	}
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
		color: #2B82D8;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
		color: #2B82D8;
	}
	.navbar-default .navbar-toggle:hover{
		background: rgba(255, 255, 255, 0.4);
	}
	.pro-container{
		width: 100%;
	}
	.ai-problem{
		padding-top: 60px;
	}
	.concept1-l{
		width: 100%;
	}
	.concept1-r{
		width: 60%;
		margin-left: 20%;
	}
	.project-container{
		width: 50%;
		height: 210px;

	}
	.key{
		width: 80px;
		height: 80px;
		margin: auto;
		/*background: blue;*/
		border-radius: 50%;
		line-height: 80px;
		text-align: center;
		/*border: 1px solid #FEB709;*/
		color: #FEB709;
		font-size: 14px;
		font-weight: bold;
	}
	.col-md-4-my{
		width: 100%;
	}
	#f2{
		display: none;
	}
	#f1{
		width: 100%;
	}
	
}
@media(max-width: 579px) {/*row become columns*/
	.container-my{
		width: 100%;
	}
	.col-md-6-my{
		width: 100%;
	}
	.banner-responsive{
		height: 580px;
	}
	.banner-responsive-video{
		height: 510px;
	}
	.ai-problem{
		padding-top: 0;
	}
	.img-ai-intro.video-intro{
		padding-top: 12px;
	}
	.module>.content>.col-md-6-my>.txt{
		padding-bottom: 20px;
	}
	.project-container{
		width: 100%;
		height: 260px;
		background-position: 50% 25%!important;
	}
	.self-intro-bo{
		width: 100%;
	}
	.photo-container{
		display: none;
	}
	.intro-text{
		width:100%!important;
	}
	.module>.content{
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.col-md-6-my.intro{
		padding-top: 0!important;
	}
	.content.flex.flex--space-around>.section-one{
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
}
/*@media (max-width: 590px) {
	.project-container{
		width: 50%;
		height: 210px;
	}
}*/
@media (max-width: 370px) {
	.project-container{
		width: 100vw;
		height: 260px;
	}
	.concept1-r{
		width: 100%;
		margin-left: 0;
	}
}



@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .post-preview > a > .post-subtitle {
    font-size: 16px;
  }
  .post-preview .post-meta {
    font-size: 18px;
  }
}
.post-content-preview {
  font-size: 13px;
  font-style: italic;
  color: #a3a3a3;
}
.post-content-preview:hover {
  color: #0085a1;
}
@media only screen and (min-width: 768px) {
  .post-content-preview {
    font-size: 14px;
  }
}

